form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  
  label {
    margin-bottom: 6px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: #fff; 
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #333;
    margin-right: 8px;
  }
  
  button[type="button"] {
    background-color: #f44336;
  }
  
  button:hover {
    opacity: 0.8;
  }